//color
$turquesa: #92dce5;
$rojo: #ef6461;
$negro: #000;
$white: #fff;

//font family

$monserrat: 'Montserrat', sans-serif;
$opensans: 'Open Sans', sans-serif;
$jost: 'Jost', sans-serif;


// font weights

$f300: 300;
$f400: 400;
$f500: 500;
$f700: 700;

//font sizes
$xxx-large: 50px;
$xx-large: 30px;
$x-large: 20px;
$large: 18px;
$medium: 16px;
$small: 14px;
$x-small: 12px;
$xx-small: 8px;

//cards
$card-height: 100%;